<div class="container">
    <div class="row">
        <input #input class="form-control output" type="text" readonly value="{{expression}}" />
        <input #output class="form-control output" type="text" readonly value="{{lcdValue}}" />
    </div>
    <div class="calc">
        <div class="row">
            <button class="num btn" (click)="calcButtonPress('1')">1</button>
            <button class="num btn" (click)="calcButtonPress('2')">2</button>
            <button class="num btn" (click)="calcButtonPress('3')">3</button>
            <button class="operator btn side-btn" (click)="calcButtonPress('*')">*</button>
        </div>
        <div class="row">
            <button class="num btn" (click)="calcButtonPress('4')">4</button>
            <button class="num btn" (click)="calcButtonPress('5')">5</button>
            <button class="num btn" (click)="calcButtonPress('6')">6</button>
            <button class="operator btn side-btn" (click)="calcButtonPress('+')">+</button>
            <button class="num btn" (click)="calcButtonPress(')')">)</button>
        </div>
        <div class="row">
            <button class="num btn" (click)="calcButtonPress('7')">7</button>
            <button class="num btn" (click)="calcButtonPress('8')">8</button>
            <button class="num btn" (click)="calcButtonPress('9')">9</button>
            <button class="operator btn side-btn" (click)="calcButtonPress('-')">-</button>
            <button class="num btn" (click)="calcButtonPress('(')">(</button>
        </div>
        <div class="row">
            <button class="reset btn" (click)="clearButtonPress()">C</button>
            <button class="num btn" (click)="calcButtonPress('0')">0</button>
            <button class="equal btn" (click)="evaluate()">=</button>
            <button class="operator btn side-btn" (click)="calcButtonPress('/')">/</button>
        </div>
    </div>
</div>